footer {
  background: #ff2c2c;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
}

footer i {
  color: white !important;
}
.footer-custom {
  background: #ff2c2c;
  color: white;
}
.footer-logo {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}
.footer-custom {
  background: #ff2c2c;
  color: white;
}

.footer-logo {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
}

.social-icon:hover {
  color: #ffc107; /* Amarillo Bootstrap */
  transition: color 0.3s ease;
}
